.logo,
.menu,
.menu__button,
.social,
.developer {
  position: fixed;
  text-transform: uppercase;
  z-index: 100000;
  font-weight: 700;

  a {
    color: white;
    text-decoration: none;

    &:hover {
      transition: all 0.1s ease-in-out;
      color: #f77905;
    }
  }
}

.menu__button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
}

.menu,
.social {
  display: -webkit-flex;
  display: -ms-flex;
  display: flex;
  flex-direction: column;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.developer {
  color: #a6a2a2;
}

// mobile portrait
@media (min-width: 320px) and (max-width: 479px) {
  .logo {
    top: 2%;
    left: 2.5%;
    font-size: 1.9em;
  }

  .menu__button {
    top: 0.75%;
    right: 0;
    z-index: 10000;
  }

  .social {
    line-height: 1.5em;
    font-size: 0.75em;
  }

  .menu {
    display: none;
  }

  .social {
    display: none;
  }

  .developer {
    display: none;
  }
}

// mobile landscape
@media (min-width: 480px) and (max-width: 767px) {
  .logo {
    top: 2%;
    left: 2.5%;
    font-size: 1.9em;
  }

  .menu__button {
    top: 0.75%;
    right: 0;
    z-index: 10000;
  }

  .social {
    line-height: 1.5em;
    font-size: 0.75em;
  }

  .menu {
    display: none;
  }

  .social {
    display: none;
  }

  .developer {
    display: none;
  }
}

// tablet-portrait
@media (min-width: 768px) and (max-width: 999px) {
  .logo {
    top: 2.5%;
    left: 2.5%;
    font-size: 2em;
  }

  .menu__button {
    top: 0.75%;
    right: 0;
    z-index: 10000;
  }

  .social {
    display: none;
  }

  .menu {
    display: none;
  }

  .social {
    display: none;
  }

  .developer {
    display: none;
  }
}

// tablet-landscape
@media (min-width: 1000px) and (max-width: 1279px) {
  .logo {
    top: 2.5%;
    left: 2%;
    font-size: 1.8em;
  }

  .menu__button {
    display: none;
  }

  .menu,
  .social {
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    line-height: 2em;
    font-size: 0.75em;
  }

  .menu {
    top: 2.5%;
    right: 2%;
  }

  .social {
    bottom: 2.5%;
    left: 2%;
  }

  .developer {
    display: block;
    bottom: 2.5%;
    right: 2%;
    font-size: 0.75em;
  }
}

// desktop
@media (min-width: 1280px) and (max-width: 1919px) {
  .logo {
    top: 5%;
    left: 2.5%;
    font-size: 1.8em;
  }

  .menu__button {
    display: none;
  }

  .menu,
  .social {
    line-height: 1.7em;
    font-size: 0.85em;
  }

  .menu {
    top: 5%;
    right: 2.5%;
  }

  .social {
    bottom: 5%;
    left: 2.5%;
  }

  .developer {
    bottom: 5%;
    right: 2.5%;
    font-size: 0.85em;
  }
}

// desktop XXL
@media (min-width: 1920px) {
  .logo {
    top: 5%;
    left: 5%;
    font-size: 2em;
  }

  .menu__button {
    display: none;
  }

  .menu,
  .social {
    line-height: 1.8em;
    font-size: 0.95em;
    font-size: 0.95em;
  }

  .menu {
    top: 5%;
    right: 5%;
  }

  .social {
    bottom: 5%;
    left: 5%;
  }

  .developer {
    bottom: 5%;
    right: 5%;
    font-size: 0.95em;
  }
}
