$aos-distance: 20px; // It has to be above import
@import "node_modules/aos/src/sass/aos.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800;900&display=swap");

html,
body {
  height: 100%;
}
body {
  margin: 0;
  letter-spacing: 1px;
  display: flex;
  flex-direction: column;
  font-family: "Montserrat", sans-serif;
  background: #0d0d0d;
  overscroll-behavior-y: contain;

  * {
    outline: 0 !important;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  color: white;
}

p {
  margin: 1.5em 0;
  padding: 0;
  font-weight: 500;
  color: white;
}

button {
  &:focus {
    outline: none;
  }
}

.page-link {
  color: white;
  text-transform: uppercase;
  font-weight: 700;
}

// mobile portrait
@media (min-width: 320px) and (max-width: 479px) {
  h1 {
    font-size: 32px;
  }

  p {
    font-size: 14px;
    line-height: 21px;
  }
}

// mobile landscape
@media (min-width: 480px) and (max-width: 767px) {
  h1 {
    font-size: 24px;
  }

  p {
    font-size: 14px;
    line-height: 21px;
  }
}

// tablet-portrait
@media (min-width: 768px) and (max-width: 999px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
    line-height: 30px;
  }
}

// tablet-landscape
@media (min-width: 1000px) and (max-width: 1279px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
    line-height: 30px;
  }
}

// desktop
@media (min-width: 1280px) and (max-width: 1919px) {
  h1 {
    font-size: 36px;
  }

  p {
    font-size: 16px;
    line-height: 30px;
  }
}

// desktop XXL
@media (min-width: 1920px) {
  h1 {
    font-size: 47px;
  }

  p {
    font-size: 21px;
    line-height: 39px;
  }
}
